/* contextual.css */

/*
    Divided into three catagories. Paper, Inks, and Fills

    Paper: Surface backgrounds. They respond to changes in dark/light mode.
    Ink: Always topmost, and used above Paper and Fills. Used for typography/icons. Responds to dark/light mode when placed on paper, but not when placed on Fills.
    Fill: Areas of color that overlay Paper and contain Inks. Think buttons, header/footer backgrounds.

    (Plenty to consider here, right now just first steps!)
*/

.gnm-color-paper-light { color: var(--gnm-palette-white); }  /* The main background color for the app and choice of inverted text color */
.gnm-color-paper-medium { color: var(--gnm-palette-neutral015); }  /* Slightly darker neutral paper background color */
.gnm-color-paper-dark { color: var(--gnm-palette-neutral025); } /* Slightly darker neutral paper background  color */
.gnm-color-paper-deep { color: var(--gnm-palette-primary050); } /* Slightly darker neutral paper background  color */

.gnm-color-paper-accent-light { color: var(--gnm-palette-white); } /* The secondary background color for the app, typically a blue */
.gnm-color-paper-accent-medium { color: var(--gnm-palette-primary015); } /* Slightly darker accent paper background color */
.gnm-color-paper-accent-dark { color: var(--gnm-palette-primary025); }  /* Slightly darker accent paper background color */
.gnm-color-paper-accent-deep { color: var(--gnm-palette-primary050); }  /* Slightly darker accent paper background color */

.gnm-color-ink-subtle { color: var(--gnm-palette-neutral085); } /* Text and icons in an inactive (disabled) state */
.gnm-color-ink-light { color: var(--gnm-palette-neutral400); } /* Subheadlines, labels, secondary copy */
.gnm-color-ink-medium { color: var(--gnm-palette-neutral600); } /* Body and paragraph text */
.gnm-color-ink-dark { color: var(--gnm-palette-neutral800); } /* Headlines */

.gnm-color-ink-error-subtle { color: var(--gnm-palette-negative085); } /* Text and icons in an inactive (disabled) state */
.gnm-color-ink-error-light { color: var(--gnm-palette-negative400); } /* Subheadlines, labels, secondary copy */
.gnm-color-ink-error-medium { color: var(--gnm-palette-negative600); } /* Body and paragraph text */
.gnm-color-ink-error-dark { color: var(--gnm-palette-negative800); } /* Headlines */

.gnm-color-ink-success-subtle { color: var(--gnm-palette-positive085); } /* Text and icons in an inactive (disabled) state */
.gnm-color-ink-success-light { color: var(--gnm-palette-positive400); } /* Subheadlines, labels, secondary copy */
.gnm-color-ink-success-medium { color: var(--gnm-palette-positive600); } /* Body and paragraph text */
.gnm-color-ink-success-dark { color: var(--gnm-palette-positive800); } /* Headlines */

.gnm-color-ink-brand-subtle { color: var(--gnm-palette-primary085); } /* Brand text and icons in an inactive (disabled) state */
.gnm-color-ink-brand-light { color: var(--gnm-palette-primary400); } /* Brand subheadlines, labels, secondary copy */
.gnm-color-ink-brand-medium { color: var(--gnm-palette-primary600); } /* Brand body and paragraph text */
.gnm-color-ink-brand-dark { color: var(--gnm-palette-primary800); } /* Headlines */

.gnm-color-ink-line-subtle { color: var(--gnm-palette-neutral025); } /* Neutral lines around components and separators */
.gnm-color-ink-line-light { color: var(--gnm-palette-neutral050); }  /* Neutral lines around components and separators */
.gnm-color-ink-line-medium { color: var(--gnm-palette-neutral075); }  /* Neutral lines around components and separators */
.gnm-color-ink-line-dark { color: var(--gnm-palette-neutral085); }  /* Neutral lines around components and separators */

.gnm-color-fill-head { color: var(--gnm-palette-neutral600); } /* Designers choice of background of header components */
.gnm-color-fill-subhead { color: var(--gnm-palette-neutral800); } /* Designers choice of background of subhead components */
.gnm-color-fill-foot { color: var(--gnm-palette-neutral800); } /* Designers choice of background of footer components */

.gnm-color-fill-primary-loading { color: var(--gnm-palette-primary085); } /* Neutral lines around components and separators */
.gnm-color-fill-primary-disabled { color: var(--gnm-palette-primary085); }  /* Neutral lines around components and separators */
.gnm-color-fill-primary-default { color: var(--gnm-palette-primary400); }  /* Neutral lines around components and separators */
.gnm-color-fill-primary-hover { color: var(--gnm-palette-primary600); }  /* Neutral lines around components and separators */
.gnm-color-fill-primary-active { color: var(--gnm-palette-primary800); }  /* Neutral lines around components and separators */

.gnm-color-fill-success-loading { color: var(--gnm-palette-positive085); } /* Neutral lines around components and separators */
.gnm-color-fill-success-disabled { color: var(--gnm-palette-positive085); }  /* Neutral lines around components and separators */
.gnm-color-fill-success-default { color: var(--gnm-palette-positive400); }  /* Neutral lines around components and separators */
.gnm-color-fill-success-hover { color: var(--gnm-palette-positive600); }  /* Neutral lines around components and separators */
.gnm-color-fill-success-active { color: var(--gnm-palette-positive800); }  /* Neutral lines around components and separators */