:root {
  --gnm-palette-primary-015: #f4f9fd;
  --gnm-palette-primary-025: #e9f2fa;
  --gnm-palette-primary-050: #d5e4f2;
  --gnm-palette-primary-075: #abcae4;
  --gnm-palette-primary-085: #81b0d9;
  --gnm-palette-primary-100: #5696ca;
  --gnm-palette-primary-200: #4089c2;
  --gnm-palette-primary-300: #1e7cbb;
  --gnm-palette-primary-400: #0274b6;
  --gnm-palette-primary-500: #00639d;
  --gnm-palette-primary-600: #044a76;
  --gnm-palette-primary-700: #003355;
  --gnm-palette-primary-800: #022843;
  --gnm-palette-primary-900: #001d33;
  --gnm-palette-secondary-015: #f9f7fe;
  --gnm-palette-secondary-025: #f3eefc;
  --gnm-palette-secondary-050: #e7dff6;
  --gnm-palette-secondary-075: #d0bfef;
  --gnm-palette-secondary-085: #b99fe5;
  --gnm-palette-secondary-100: #a37fdb;
  --gnm-palette-secondary-200: #9770d3;
  --gnm-palette-secondary-300: #8d5fcd;
  --gnm-palette-secondary-400: #8856cb;
  --gnm-palette-secondary-500: #7347ad;
  --gnm-palette-secondary-600: #563583;
  --gnm-palette-secondary-700: #3d235f;
  --gnm-palette-secondary-800: #2f1b4a;
  --gnm-palette-secondary-900: #24133a;
  --gnm-palette-tertiary-015: #f9f8f6;
  --gnm-palette-tertiary-025: #f2f0ec;
  --gnm-palette-tertiary-050: #e6e2db;
  --gnm-palette-tertiary-075: #cdc5b9;
  --gnm-palette-tertiary-085: #b6aa97;
  --gnm-palette-tertiary-100: #9f8f76;
  --gnm-palette-tertiary-200: #928166;
  --gnm-palette-tertiary-300: #877456;
  --gnm-palette-tertiary-400: #816d4d;
  --gnm-palette-tertiary-500: #6e5c40;
  --gnm-palette-tertiary-600: #534530;
  --gnm-palette-tertiary-700: #392f1f;
  --gnm-palette-tertiary-800: #2d2418;
  --gnm-palette-tertiary-900: #211b10;
  --gnm-palette-positive-015: #f4f9f4;
  --gnm-palette-positive-025: #eaf4e8;
  --gnm-palette-positive-050: #d5e7d3;
  --gnm-palette-positive-075: #add0a9;
  --gnm-palette-positive-085: #82b97c;
  --gnm-palette-positive-100: #58a151;
  --gnm-palette-positive-200: #43953c;
  --gnm-palette-positive-300: #22891c;
  --gnm-palette-positive-400: #0a8200;
  --gnm-palette-positive-500: #096e00;
  --gnm-palette-positive-600: #065301;
  --gnm-palette-positive-700: #003a00;
  --gnm-palette-positive-800: #022d02;
  --gnm-palette-positive-900: #012200;
  --gnm-palette-negative-015: #fff6f4;
  --gnm-palette-negative-025: #ffedea;
  --gnm-palette-negative-050: #fedad4;
  --gnm-palette-negative-075: #fdb4aa;
  --gnm-palette-negative-085: #fa8d7d;
  --gnm-palette-negative-100: #f16352;
  --gnm-palette-negative-200: #ea4c3c;
  --gnm-palette-negative-300: #e4281e;
  --gnm-palette-negative-400: #e10000;
  --gnm-palette-negative-500: #c10000;
  --gnm-palette-negative-600: #930201;
  --gnm-palette-negative-700: #690000;
  --gnm-palette-negative-800: #540202;
  --gnm-palette-negative-900: #410000;
  --gnm-palette-highlight-015: #fef8e7;
  --gnm-palette-highlight-025: #fff0c6;
  --gnm-palette-highlight-050: #fee091;
  --gnm-palette-highlight-075: #ffcf3d;
  --gnm-palette-highlight-085: #cea730;
  --gnm-palette-highlight-100: #af8d27;
  --gnm-palette-highlight-200: #9f8023;
  --gnm-palette-highlight-300: #8f731c;
  --gnm-palette-highlight-400: #81681a;
  --gnm-palette-highlight-500: #735b17;
  --gnm-palette-highlight-600: #56450f;
  --gnm-palette-highlight-700: #3d2f02;
  --gnm-palette-highlight-800: #2f2407;
  --gnm-palette-highlight-900: #241a00;
  --gnm-palette-attention-015: #fff6f0;
  --gnm-palette-attention-025: #ffede1;
  --gnm-palette-attention-050: #fedcc8;
  --gnm-palette-attention-075: #ffb68a;
  --gnm-palette-attention-085: #f8914b;
  --gnm-palette-attention-100: #f57c13;
  --gnm-palette-attention-200: #ce670e;
  --gnm-palette-attention-300: #b95d0e;
  --gnm-palette-attention-400: #a95307;
  --gnm-palette-attention-500: #954a09;
  --gnm-palette-attention-600: #723605;
  --gnm-palette-attention-700: #502404;
  --gnm-palette-attention-800: #401c00;
  --gnm-palette-attention-900: #301307;
  --gnm-palette-info-015: #f3f8ff;
  --gnm-palette-info-025: #e8f2ff;
  --gnm-palette-info-050: #d3e4fe;
  --gnm-palette-info-075: #a6c8ff;
  --gnm-palette-info-085: #7babff;
  --gnm-palette-info-100: #518dff;
  --gnm-palette-info-200: #3a7efd;
  --gnm-palette-info-300: #206cff;
  --gnm-palette-info-400: #0f62fe;
  --gnm-palette-info-500: #0353da;
  --gnm-palette-info-600: #093ea6;
  --gnm-palette-info-700: #012979;
  --gnm-palette-info-800: #05205f;
  --gnm-palette-info-900: #01174b;
  --gnm-palette-system-015: #f3f9ff;
  --gnm-palette-system-025: #e5f2ff;
  --gnm-palette-system-050: #cfe4ff;
  --gnm-palette-system-075: #a0c9ff;
  --gnm-palette-system-085: #70adff;
  --gnm-palette-system-100: #3e90fd;
  --gnm-palette-system-200: #007aff;
  --gnm-palette-system-300: #0472ee;
  --gnm-palette-system-400: #0a66d8;
  --gnm-palette-system-500: #005bc0;
  --gnm-palette-system-600: #034493;
  --gnm-palette-system-700: #032e68;
  --gnm-palette-system-800: #002456;
  --gnm-palette-system-900: #011a41;
  --gnm-palette-neutral-000: #ffffff;
  --gnm-palette-neutral-015: #f8f8f8;
  --gnm-palette-neutral-025: #f1f1f1;
  --gnm-palette-neutral-050: #e2e2e2;
  --gnm-palette-neutral-075: #c6c6c6;
  --gnm-palette-neutral-085: #ababab;
  --gnm-palette-neutral-100: #919191;
  --gnm-palette-neutral-200: #848484;
  --gnm-palette-neutral-300: #767676;
  --gnm-palette-neutral-400: #6f6f6f;
  --gnm-palette-neutral-500: #525252;
  --gnm-palette-neutral-600: #3b3b3b;
  --gnm-palette-neutral-700: #262626;
  --gnm-palette-neutral-800: #1b1b1b;
  --gnm-palette-neutral-900: #111111;
  --gnm-palette-neutral-950: #000000;
  --gnm-palette-darken-05a: rgba(0, 0, 0, 0.05);
  --gnm-palette-darken-10a: rgba(0, 0, 0, 0.1);
  --gnm-palette-darken-20a: rgba(0, 0, 0, 0.2);
  --gnm-palette-darken-30a: rgba(0, 0, 0, 0.3);
  --gnm-palette-darken-40a: rgba(0, 0, 0, 0.4);
  --gnm-palette-darken-50a: rgba(0, 0, 0, 0.5);
  --gnm-palette-darken-60a: rgba(0, 0, 0, 0.6);
  --gnm-palette-darken-70a: rgba(0, 0, 0, 0.7);
  --gnm-palette-darken-80a: rgba(0, 0, 0, 0.8);
  --gnm-palette-darken-90a: rgba(0, 0, 0, 0.9);
  --gnm-palette-darken-95a: rgba(0, 0, 0, 0.95);
  --gnm-palette-lighten-05a: rgba(255, 255, 255, 0.05);
  --gnm-palette-lighten-10a: rgba(255, 255, 255, 0.1);
  --gnm-palette-lighten-20a: rgba(255, 255, 255, 0.2);
  --gnm-palette-lighten-30a: rgba(255, 255, 255, 0.3);
  --gnm-palette-lighten-40a: rgba(255, 255, 255, 0.4);
  --gnm-palette-lighten-50a: rgba(255, 255, 255, 0.5);
  --gnm-palette-lighten-60a: rgba(255, 255, 255, 0.6);
  --gnm-palette-lighten-70a: rgba(255, 255, 255, 0.7);
  --gnm-palette-lighten-80a: rgba(255, 255, 255, 0.8);
  --gnm-palette-lighten-90a: rgba(255, 255, 255, 0.9);
  --gnm-palette-lighten-95a: rgba(255, 255, 255, 0.95);
}
