:root {
  --gnm-palette-primary015: #f4f9fd;
  --gnm-palette-primary025: #e9f2fa;
  --gnm-palette-primary050: #d5e4f2;
  --gnm-palette-primary075: #abcae4;
  --gnm-palette-primary085: #81b0d9;
  --gnm-palette-primary100: #5696ca;
  --gnm-palette-primary200: #4089c2;
  --gnm-palette-primary300: #1e7cbb;
  --gnm-palette-primary400: #0274b6;
  --gnm-palette-primary500: #00639d;
  --gnm-palette-primary600: #044a76;
  --gnm-palette-primary700: #003355;
  --gnm-palette-primary800: #022843;
  --gnm-palette-primary900: #001d33;
  --gnm-palette-secondary015: #f9f7fe;
  --gnm-palette-secondary025: #f3eefc;
  --gnm-palette-secondary050: #e7dff6;
  --gnm-palette-secondary075: #d0bfef;
  --gnm-palette-secondary085: #b99fe5;
  --gnm-palette-secondary100: #a37fdb;
  --gnm-palette-secondary200: #9770d3;
  --gnm-palette-secondary300: #8d5fcd;
  --gnm-palette-secondary400: #8856cb;
  --gnm-palette-secondary500: #7347ad;
  --gnm-palette-secondary600: #563583;
  --gnm-palette-secondary700: #3d235f;
  --gnm-palette-secondary800: #2f1b4a;
  --gnm-palette-secondary900: #24133a;
  --gnm-palette-tertiary015: #f9f8f6;
  --gnm-palette-tertiary025: #f2f0ec;
  --gnm-palette-tertiary050: #e6e2db;
  --gnm-palette-tertiary075: #cdc5b9;
  --gnm-palette-tertiary085: #b6aa97;
  --gnm-palette-tertiary100: #9f8f76;
  --gnm-palette-tertiary200: #928166;
  --gnm-palette-tertiary300: #877456;
  --gnm-palette-tertiary400: #816d4d;
  --gnm-palette-tertiary500: #6e5c40;
  --gnm-palette-tertiary600: #534530;
  --gnm-palette-tertiary700: #392f1f;
  --gnm-palette-tertiary800: #2d2418;
  --gnm-palette-tertiary900: #211b10;
  --gnm-palette-positive015: #f4f9f4;
  --gnm-palette-positive025: #eaf4e8;
  --gnm-palette-positive050: #d5e7d3;
  --gnm-palette-positive075: #add0a9;
  --gnm-palette-positive085: #82b97c;
  --gnm-palette-positive100: #58a151;
  --gnm-palette-positive200: #43953c;
  --gnm-palette-positive300: #22891c;
  --gnm-palette-positive400: #0a8200;
  --gnm-palette-positive500: #096e00;
  --gnm-palette-positive600: #065301;
  --gnm-palette-positive700: #003a00;
  --gnm-palette-positive800: #022d02;
  --gnm-palette-positive900: #012200;
  --gnm-palette-negative015: #fff6f4;
  --gnm-palette-negative025: #ffedea;
  --gnm-palette-negative050: #fedad4;
  --gnm-palette-negative075: #fdb4aa;
  --gnm-palette-negative085: #fa8d7d;
  --gnm-palette-negative100: #f16352;
  --gnm-palette-negative200: #ea4c3c;
  --gnm-palette-negative300: #e4281e;
  --gnm-palette-negative400: #e10000;
  --gnm-palette-negative500: #c10000;
  --gnm-palette-negative600: #930201;
  --gnm-palette-negative700: #690000;
  --gnm-palette-negative800: #540202;
  --gnm-palette-negative900: #410000;
  --gnm-palette-highlight015: #fef8e7;
  --gnm-palette-highlight025: #fff0c6;
  --gnm-palette-highlight050: #fee091;
  --gnm-palette-highlight075: #ffcf3d;
  --gnm-palette-highlight085: #cea730;
  --gnm-palette-highlight100: #af8d27;
  --gnm-palette-highlight200: #9f8023;
  --gnm-palette-highlight300: #8f731c;
  --gnm-palette-highlight400: #81681a;
  --gnm-palette-highlight500: #735b17;
  --gnm-palette-highlight600: #56450f;
  --gnm-palette-highlight700: #3d2f02;
  --gnm-palette-highlight800: #2f2407;
  --gnm-palette-highlight900: #241a00;
  --gnm-palette-attention015: #fff6f0;
  --gnm-palette-attention025: #ffede1;
  --gnm-palette-attention050: #fedcc8;
  --gnm-palette-attention075: #ffb68a;
  --gnm-palette-attention085: #f8914b;
  --gnm-palette-attention100: #f57c13;
  --gnm-palette-attention200: #ce670e;
  --gnm-palette-attention300: #b95d0e;
  --gnm-palette-attention400: #a95307;
  --gnm-palette-attention500: #954a09;
  --gnm-palette-attention600: #723605;
  --gnm-palette-attention700: #502404;
  --gnm-palette-attention800: #401c00;
  --gnm-palette-attention900: #301307;
  --gnm-palette-info015: #f3f8ff;
  --gnm-palette-info025: #e8f2ff;
  --gnm-palette-info050: #d3e4fe;
  --gnm-palette-info075: #a6c8ff;
  --gnm-palette-info085: #7babff;
  --gnm-palette-info100: #518dff;
  --gnm-palette-info200: #3a7efd;
  --gnm-palette-info300: #206cff;
  --gnm-palette-info400: #0f62fe;
  --gnm-palette-info500: #0353da;
  --gnm-palette-info600: #093ea6;
  --gnm-palette-info700: #012979;
  --gnm-palette-info800: #05205f;
  --gnm-palette-info900: #01174b;
  --gnm-palette-system015: #f3f9ff;
  --gnm-palette-system025: #e5f2ff;
  --gnm-palette-system050: #cfe4ff;
  --gnm-palette-system075: #a0c9ff;
  --gnm-palette-system085: #70adff;
  --gnm-palette-system100: #3e90fd;
  --gnm-palette-system200: #007aff;
  --gnm-palette-system300: #0472ee;
  --gnm-palette-system400: #0a66d8;
  --gnm-palette-system500: #005bc0;
  --gnm-palette-system600: #034493;
  --gnm-palette-system700: #032e68;
  --gnm-palette-system800: #002456;
  --gnm-palette-system900: #011a41;
  --gnm-palette-neutral000: #ffffff;
  --gnm-palette-neutral015: #f8f8f8;
  --gnm-palette-neutral025: #f1f1f1;
  --gnm-palette-neutral050: #e2e2e2;
  --gnm-palette-neutral075: #c6c6c6;
  --gnm-palette-neutral085: #ababab;
  --gnm-palette-neutral100: #919191;
  --gnm-palette-neutral200: #848484;
  --gnm-palette-neutral300: #767676;
  --gnm-palette-neutral400: #6f6f6f;
  --gnm-palette-neutral500: #525252;
  --gnm-palette-neutral600: #3b3b3b;
  --gnm-palette-neutral700: #262626;
  --gnm-palette-neutral800: #1b1b1b;
  --gnm-palette-neutral900: #111111;
  --gnm-palette-neutral950: #000000;
  --gnm-palette-darken05a: rgba(0, 0, 0, 0.05);
  --gnm-palette-darken10a: rgba(0, 0, 0, 0.1);
  --gnm-palette-darken20a: rgba(0, 0, 0, 0.2);
  --gnm-palette-darken30a: rgba(0, 0, 0, 0.3);
  --gnm-palette-darken40a: rgba(0, 0, 0, 0.4);
  --gnm-palette-darken50a: rgba(0, 0, 0, 0.5);
  --gnm-palette-darken60a: rgba(0, 0, 0, 0.6);
  --gnm-palette-darken70a: rgba(0, 0, 0, 0.7);
  --gnm-palette-darken80a: rgba(0, 0, 0, 0.8);
  --gnm-palette-darken90a: rgba(0, 0, 0, 0.9);
  --gnm-palette-darken95a: rgba(0, 0, 0, 0.95);
  --gnm-palette-lighten05a: rgba(255, 255, 255, 0.05);
  --gnm-palette-lighten10a: rgba(255, 255, 255, 0.1);
  --gnm-palette-lighten20a: rgba(255, 255, 255, 0.2);
  --gnm-palette-lighten30a: rgba(255, 255, 255, 0.3);
  --gnm-palette-lighten40a: rgba(255, 255, 255, 0.4);
  --gnm-palette-lighten50a: rgba(255, 255, 255, 0.5);
  --gnm-palette-lighten60a: rgba(255, 255, 255, 0.6);
  --gnm-palette-lighten70a: rgba(255, 255, 255, 0.7);
  --gnm-palette-lighten80a: rgba(255, 255, 255, 0.8);
  --gnm-palette-lighten90a: rgba(255, 255, 255, 0.9);
  --gnm-palette-lighten95a: rgba(255, 255, 255, 0.95);
}
